<?xml version="1.0"?>
<ruleset name="Shulelabs Standards">
    <description>Project-level coding standards for Shulelabs.</description>
    <ini name="memory_limit" value="1024M"/>
    <file>application</file>
    <exclude-pattern>vendor/</exclude-pattern>
    <exclude-pattern>storage/</exclude-pattern>
    <rule ref="PSR12">
        <exclude-pattern>mvc/libraries/</exclude-pattern>
        <exclude-pattern>mvc/third_party/</exclude-pattern>
        <exclude name="PSR1.Classes.ClassDeclaration.MissingNamespace"/>
        <exclude name="PSR12.Classes.ClassDeclaration.MissingNamespace"/>
        <exclude name="PSR1.Methods.CamelCapsMethodName"/>
        <exclude name="PSR1.Files.SideEffects.FoundWithSymbols"/>
        <exclude name="Generic.Files.LineLength"/>
    </rule>
</ruleset>
