includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    level: 6
    paths:
        - ci4/app
        - application/Services
        - application/Support
    excludePaths:
        - %currentWorkingDirectory%/ci4/app/Config/*
        - %currentWorkingDirectory%/ci4/app/Controllers/*
        - %currentWorkingDirectory%/ci4/app/Views/*
        - %currentWorkingDirectory%/ci4/app/Modules/*/Controllers/*
        - %currentWorkingDirectory%/ci4/app/Modules/*/Views/*
    tmpDir: var/phpstan
    bootstrapFiles:
        - phpstan/bootstrap.php
        - ci4/tests/phpstan-bootstrap.php
    universalObjectCratesClasses:
        - CI_Controller
    ignoreErrors:
        - '#Access to an undefined property CI_Controller::\$[a-zA-Z0-9_]+#'
        - '#Call to an undefined method CI_Controller::[a-zA-Z0-9_]+#'
    reportUnmatchedIgnoredErrors: false
